.blob-container {
  position: fixed;
  inset: 0;
  pointer-events: none;
}

.blob-main {
  position: relative;
  width: 100%;
  height: 100%;
}

.blob {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(-50%, -50%);
}

.inner-dot {
  position: absolute;
}


